@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,400;0,600;0,800;1,300;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    --result-bg-start: hsl(252, 100%, 67%);
    --result-bg-end: hsl(241, 81%, 54%);
    --circle-bg-start: hsla(256, 72%, 46%, 1);
    --cirle-bg-end: hsla(241, 72%, 46%, 0);

    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-avender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    /* --font-family-hanken: 'Hanken Grotesk', sans-serif; */
    font-family: 'Hanken Grotesk', sans-serif;
}

p {
    font-size: 18px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4vh;
  
}

.result {
    width: 100%;
    height: 51%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    background: linear-gradient(var(--result-bg-start),  var(--result-bg-end));
    padding: 2vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

h3 {
    color: var(--light-avender);
}

.circle {
    width: 36vw;
    height:  20vh;
    border-radius: 50%;
    background: linear-gradient(var(--circle-bg-start), var(--cirle-bg-end));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.your_point {
    color: var(--white);
    font-size: 4em;
    font-weight: bolder;
}

.max_point {
    font-size: 1em;
    color: var(--light-avender);
    font-weight: bolder;
}

.res_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.result_h2 {
    color: var(--white);
    font-weight: 600;
}

.descr {
    width: 80%;
    text-align: center;
    color: var(--light-avender);
    font-weight: 600;
}

.summery {
    width: 86%;
    display: flex;
    flex-direction: column;
}

